*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
    background-image: url(../img/events.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed ;
}
nav{
    display: flex;
    flex-wrap: nowrap;
}
nav a{
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border: 2px solid black;
    padding: 2%;
    font-size: small;
    text-decoration: none;

}
header{
    display: flex;
    background-color: rgb(70, 70, 70);
    height: 15vh;
}

footer{
    background-color: rgba(0, 0, 0, 0.233);
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed; bottom: 0%;
    justify-content: space-between;
}
.social{
    margin-left:2%;
    height: 70%;
    display: flex;
    gap: 35px;
}
.social img{
    height: 100%;

    
}
.social > a:hover{
    transform: scale(140%);
    transition: 0.3s;
}
.copyright{
    margin-right: 2%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
.container-fluid{
max-width: fit-content;
}

a[href="#"]{
    background-color: rgb(155, 155, 155);
}

.search{
    align-items: center;

}





table, th, tr, td{
    color: rgb(148, 0, 57);
    border: 1px solid rgb(0, 0, 0) !important;
}
table{
    height: 60vh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;

}
th{
    padding: 5px 0 5px 0;
    font-size: 1.1vw;
    background-color: rgba(128, 128, 128, 0.486);
}
td{
    padding-right: 10px;
}
.td{
    padding: 10px;
}

.content {
      background-color: rgb(163, 163, 163);
    height: 18rem;
    text-align: center;
    position: relative;
    -webkit-transition: all 2.25s;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .card:hover .content {
    -webkit-transform: rotateY(0.5turn);
            transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .title {
    -webkit-transform: translateZ(5rem);
            transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    -webkit-transform: translateZ(2rem);
            transform: translateZ(2rem);
  }
  
  .back {
    -webkit-transform: rotateY(0.5turn);
            transform: rotateY(0.5turn);
    background-color: #009bff;
  }
  
  .description {
    -webkit-transform: translateZ(3rem);
            transform: translateZ(3rem);
  }


  /* From uiverse.io by @alexruix */
.card {
    width: 18rem !important;
    height: 30rem !important;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 80% !important; 
    width: 100% !important;
    border-radius: .5rem;
    transition: .3s ease;
   }
   .cardImg{
width: 16.3rem;    
height: 100%;
border-radius: 6px;
   }
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
   
   .cardConteiner{
    justify-content: center;
   }

   #keyArray::first-letter{
text-transform:uppercase !important;
}

.form-check{
    background-color: rgba(99, 96, 96, 0.329);
    border-radius: 7px;
}

main{
    margin-bottom: 7%;
}

